In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':[1,2,3],'col2':[5,6,7]})

In [3]:
df.head()

   col1  col2
0     1     5
1     2     6
2     3     7

# DataFrame:
A DataFrame in pandas is data structure that behaves as a matrix that stores data. Each row is a record and each column is a variable.

In [5]:
#Notice that in order to select a column we do:
print(df['col1'])

#Notice that each column is a Series
print(type(df['col1']))

0    1
1    2
2    3
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
#We can also the column and indices as Index type:
print(df.columns)
print(df.index)

print(type(df.columns))
print(type(df.index))

Index(['col1', 'col2'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

## How to select data:
### .loc

In [16]:
#There are two ways to use .loc: By names:

#[row,col]
print(df.loc[0])

#as ranges:
print(df.loc[:,['col1','col2']])

col1    1
col2    5
Name: 0, dtype: int64
   col1  col2
0     1     5
1     2     6
2     3     7

In [17]:
#As boolean indexes:
df.loc[df.col1>=2]

   col1  col2
1     2     6
2     3     7

### Add a new column:

In [18]:
df['col3'] = [1,2,3]

In [19]:
df.head()

   col1  col2  col3
0     1     5     1
1     2     6     2
2     3     7     3

### Replace and operations:

In [21]:
#First we need to select a Series and then over it we replace:
import numpy as np

df.col3.replace([1,2],np.nan,inplace = True)
df.head()

   col1  col2  col3
0     1     5   NaN
1     2     6   NaN
2     3     7   3.0

In [22]:
df.col3 = df.col1 + df.col2

In [23]:
df.head()

   col1  col2  col3
0     1     5     6
1     2     6     8
2     3     7    10

### value_counts()

In [25]:
df.col1.replace([3],2,inplace = True)
df.head()

   col1  col2  col3
0     1     5     6
1     2     6     8
2     2     7    10

In [26]:
df.col1.replace([1],3,inplace = True)
df.head()

   col1  col2  col3
0     3     5     6
1     2     6     8
2     2     7    10

In [29]:
#Over a Series
df.col1.value_counts()

2    2
3    1
Name: col1, dtype: int64

In [34]:
#possible params that we can play with:
#bins = (], sort, dropnan, normalize (as probability)
df.col1.value_counts(sort = False)

2    2
3    1
Name: col1, dtype: int64

In [36]:
df.col1.value_counts().sort_index()

2    2
3    1
Name: col1, dtype: int64

### Iterate over columns:

In [37]:
for index, id_ in df.col1.iteritems():
    print(index,id_)

0 3
1 2
2 2

### from dataframe to numpy:

In [38]:
df.values

array([[ 3,  5,  6],
       [ 2,  6,  8],
       [ 2,  7, 10]])

In [ ]:
#We can always apply values (to index, DataFrame or Series to go to numpy.array)